body {
  background-image: url('https://i.pinimg.com/originals/8a/78/6a/8a786a5c9da46a20e099b78f2c1fea94.jpg');
  background-size: cover; /* Hace que la imagen cubra toda la pantalla */
  background-position: center; /* Centra la imagen en el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  transition: filter 0.3s ease; /* Transición para el efecto de desenfoque */
  margin: 10px;
}

h1 {
color: #f9f9f9;
}

.error {
  color: #f9f9f9;
}

.header {
  display: flex;
  justify-content: space-evenly; /* Espacio entre el logo-título y el input */
  align-items: center; /* Alinear verticalmente */
}

.type-filters button {
  display: none;
}

.logo-title {
  display: flex; /* Alinear logo y título en fila */
  align-items: center; /* Alinear verticalmente el logo y el título */
}

.logo {
  width: 80px; /* Ajusta el tamaño según sea necesario */
  height: 100px; /* Asegúrate de que el ancho y alto sean iguales para un círculo */
  border-radius: 30%; /* Esto hace que la imagen sea redonda */
  padding: 10px 10px 0px;
}

.search-input {
  padding: 8px; /* Espaciado dentro del input */
  width: 80%;
}

.dedicatories {
  display: flex;
  justify-content: center; /* Espacio entre las dedicatorias */
  padding: 10px; /* Espacio alrededor */
  color:#f9f9f9;
}

.dedication {
  width: 90%; /* Ancho fijo para cada dedicatoria */
  text-align: center; /* Centrar el texto */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 2 columnas en pantallas pequeñas */
  gap: 10px; /* Espacio entre los ítems */
  padding: 20px;
}

.grid-item {
  border: 1px solid #ccc; /* Bordes alrededor de cada Pokémon */
  border-radius: 8px; /* Esquinas redondeadas */
  padding: 10px;
  text-align: center;
  background-color: #f9f9f9; /* Color de fondo */
}

.pokemon-image {
  width: 180px;
  height: 180px; /* Ajustar el tamaño de las imágenes */
}

.pokemon-image-large {
  width: 80%; /* Tamaño más grande para el modal */
  height: auto;
}

/* Estilos del modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 1001;
  width: 80%; /* Hacer el modal más pequeño en pantallas pequeñas */
  max-width: 500px;
  padding: 15px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #07b507;
}

button.active {
  background-color: #07b507; /* Cambia el color del botón activo */
  font-weight: bold;
}

.no-pokemon-found {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-pokemon-found img {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}

@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr); /* 2 columnas en pantallas pequeñas */
  }
  .search-input {
    width: 40%;
  }
  .type-filters button {
    margin: 5px;
    display: inline;
  }
  .type-filters {
    flex-wrap: wrap; /* Hacer que los botones se alineen en varias filas */
    justify-content: center; /* Centrar los botones en pantallas pequeñas */
    margin: 10px;
  }
}


